apiVersion: v1
kind: Pod
metadata:
  name: check-pod-{{ inventory_hostname }}
spec:
  affinity:
    nodeAffinity:
      requiredDuringSchedulingIgnoredDuringExecution:
        nodeSelectorTerms:
        - matchExpressions:
          - key: kubernetes.io/hostname
            operator: In
            values:
            - {{ inventory_hostname }}
  containers:
  - name: check-pod
    image: harbor.wz.net/infra/busybox:latest
    command:
      - sleep
      - "wz0"
  restartPolicy: Always
  tolerations:
  - key: "wz.cloud/maintenance"
    operator: "Equal"
    value: "new"
    effect: "NoSchedule"
