[Unit]
Description={{ influxdb_systemd['description'] }}
Documentation=https://docs.influxdata.com/influxdb/
After=network.target

[Service]
User={{ influxdb_user }}
Group={{ influxdb_group }}
LimitNOFILE=65536
MemoryLimit={{ influxdb_systemd['memory-limit'] }}
Environment='GOMAXPROCS={{ influxdb_systemd['cpu-limit'] }}'
Environment='STDOUT={{ influxdb_stdout }}'
Environment='STDERR={{ influxdb_stderr }}'
EnvironmentFile=-/etc/default/influxdb
ExecStart=/bin/sh -c "{{ influxdb_home }}/influxdb/usr/bin/influxd -config {{ influxdb_conf }} ${INFLUXD_OPTS} >>${STDOUT} 2>>${STDERR}"
KillMode=control-group
Restart=on-failure
